.img-fluids {
  max-width: 100%;
  height: 100px;
}

.count{
  background-color:#fff;
width: 3rem;
height:1.9rem;
text-align:center;
font-size:1rem;
display:inline-block;
vertical-align:top;
margin:0;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
border-left:4px;
border-right:0;
padding:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
h1.title span {
  background: #ffffff none repeat scroll 0 0;
  color:#d63e39;
  display: inline-block;
  font-size: 18px;
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
}

.quality{
  position: relative;
  left: 10%;
}

.PriceTotal{
  position: relative;
  left: 10%;
}

.Pro_price{
  position: relative;
  left: 20px;
}

.item td{
  vertical-align: middle;
}
.ContainerCart{
  margin: 5px 40px 0px 40px;
}



.btns {
  display: inline-block;
  width: 28px;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: #ff5100; 
  border: 1px solid #ff5100;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn_s {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: #ff5100; 
  border: 1px solid #ff5100;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn-default {
  color: #ffffff;
  background-color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}




a.btns.btn-default,a.btns.btn-primarys {
  text-decoration: none;
}

a.btn-primarys:hover{
  color: white;
  background-color: black;
  text-decoration: none;
}
a.btn-default:hover{
  color: white;
  background-color:#ff5100;
  text-decoration: none;
}



.cart-item__cell-checkbox {
  padding: 0 12px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  min-width: 58px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: inherit;
}



.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff5100;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}